extends layout

block content
    - var islogin = true;
    - var guest = true;
    if islogin == true
        h2 Welcome back!
    else if guest == true
        h2 Hi!
    else
        h2 Go away!
    - for(var i=1;i<=10;i++)
        p
            - for(var j=0;j<i;j++)
                | *
