extends layout

block content
    a#infor.big(href="https://infor.org", title="submit") INFOR

    if x >= 0
        p= 'x + y = ' + (x + y)
        ul
            -for(var i=0; i<=x; i++)
                li= h
                    -for(var j=0; j<i+2; j++)
                        |#{c}
    else
        p x is too small
