doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/materialize/css/materialize.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
        script(src="/materialize/js/materialize.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js")
        script(src="/socket.io/socket.io.js")
    body.black
        script.
            var yourturn = false;
            var playerid = -1;
            var socket = io.connect('/game');
            Materialize.toast('等待玩家...', 5000, 'grey darken-2');
            $(document).ready(function() {
                $('.square').click(function(event) {
                    if(yourturn == true) {
                        yourturn = false;
                        socket.emit('next', { id: event.target.id});
                    }
                });
            });
            socket.on('start', function(data) {
                playerid = data.player;
                if(playerid == 0) {
                    $('body').addClass('blue');
                    $('.square').addClass('waves-teal');
                } else if(playerid == 1) {
                    $('body').addClass('red');
                    $('.square').addClass('waves-red');
                }
                $('body').removeClass('black');
                Materialize.toast('遊戲開始', 5000, 'light-blue darken-2');
            });
            socket.on('turn', function(data) {
                yourturn = true;
                Materialize.toast('換你了!', 3000, 'green darken-2');
            });
            socket.on('chess', function(data) {
                var squid = "#" + data.id;
                var squtx = '';
                var squcr = 'black';
                var delay = 0;
                if(data.player == 0) {
                    squtx = 'O';
                    squcr = '#03a9f4';
                } else if(data.player == 1) {
                    squtx = 'X';
                    squcr = '#f44336';
                }
                if(data.player == playerid) {
                    delay = 350;
                }
                setTimeout(function(){
                    $(squid).text(squtx);
                    $(squid).css('color',squcr);
                }, delay);
            });
            socket.on('end', function(data) {
                if(data.player == -2) {
                    Materialize.toast('平局', 1200000, 'yellow darken-4');
                } else if(data.player == playerid) {
                    Materialize.toast('勝利!', 1200000, 'green darken-4');
                } else {
                    Materialize.toast('戰敗!', 1200000, 'red darken-4');
                }
            });
        div
            - for(var i=1;i<=9;i++)
                button.squ-margin.square.btn.waves-effect.white(id= i)
