doctype html
html
    head
        title helloworld
        meta(charset="utf-8")
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        section#main
            h1 Example
            p hello, world
            a.button(href="https://zh.wikipedia.org/wiki/Hello_World") Wiki
