doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/materialize/css/materialize.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
        script(src="/materialize/js/materialize.min.js")
        block head
    body
        block content
