doctype html
html
    head
        title plaintexts
        meta(charset="utf-8")
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        h1 TYPE1:
        | TYPE2:
        p.
            TYPE3:
            It can be used for many many lines.
            It can be used for many many lines.
            It can be used for many many lines.
            It can be used for many many lines.
            It can be used for many many lines.
