extends layout

block head
    script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js")
    script(src="/socket.io/socket.io.js")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")

block content
    script.
        var socket = io.connect();
        socket.on('time', function(data) {
            $('#time').text(moment(data.time).format('YYYY-MM-DD HH:mm:ss'));
        });
    h1#time time
