body
    padding: 50px
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
    color: #00B7FF

.square
    width: 25vw
    height: 25vw
    padding: 0
    font-size: 20vw

.invisible-border
    border: solid 4px rgba(255,255,255,0)

.squ-margin
    margin: 5px
